/BasicComponent.class
/BodyComponent.class
/Component.class
/ControllerComponent.class
/HealthComponent.class
/MoveComponent.class
/RenderComponent.class
/SightComponent.class
/TextComponent.class
/UIComponent.class
/CombatComponent.class
/ParticleComponent.class
